# ================================================
# General Stuff
# ================================================

ServerSignature Off
IndexIgnore *
DirectoryIndex index.html
SetEnv TZ America/Toronto

RewriteEngine On
RewriteBase /

# ================================================
# Remove .html
# ================================================

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# ================================================
# Redirects
# ================================================
Redirect /login https://app.beta.hypr.social/login
Redirect /signup https://app.beta.hypr.social/signup
